html {
    height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    font-size: 1em;
    text-shadow: 1px 1px 2px #777;
}
body,
input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: #fff;
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.15s ease;
}
input {
    margin: 0;
    font-size: 100%;
}
.button {
    padding: 10px;
    display: inline-block;
    background: none;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    color: #fff;
    font-size: 80%;
    opacity: 1;
}
.button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: white;
}
/* Regions */


#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
/* Center Clock */

.outerbox {
    position: relative;
    padding: 0px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 4px;
    font-weight: 300;

}
.datebox {
    position: relative;
    font-size: 75px;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px #777;
}
.monthbox {

    font-size: 75px;
    font-weight: 300
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 2px #777;
}


.centerclock {
    position: relative;
    left: 102%;
    bottom: 9%;
    font-size: 25px;
    opacity: 0;
}

h1,
#greeting h2,
#introduction,
#login,
#focus {
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    letter-spacing: -5px;
    font-size: 180px;

}
/* Greeting */

#greeting h2,
#introduction,
#login,
#focus {
    font-size: 54px;
    letter-spacing: 0;
    white-space: nowrap;

}
.greeting {
    font-size: 70px;
    font-weight: 700;
    text-shadow: 1px 1px 2px #777;
}
#greeting .name {
    display: inline-block;
    max-width: 15em;
    margin: -5px 0;
    padding: 5px 0;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    cursor: default;
    outline: none;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: top;
}
#greeting .editing {
    min-width: 1.5em;
    margin-bottom: -8px;
    border-bottom: 3px solid #fff;
    cursor: auto;
}

